<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h2>List of Blogs</h2>

<p th:unless="${blogs} and ${blogs.size()}">No posts yet!</p>

<tr>
    <ul>
        <li th:each="blog : ${blogs}">
            <a th:href="'/blogs/view/' + ${blog.id}" th:text="${blog.title}"></a></li>
    </ul>
</tr>

<a href="/blogs/add">Add a post</a>
<a href="/blogs/remove">Remove a post</a>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>