<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<meta charset="UTF-8"/>
<title>Blogs</title>
</head>

<body>

<header th:replace="fragments :: header"></header>

<h2>List of Blogs</h2>

<p th:unless="${blogs} and ${blogs.size()}">No posts yet!</p>

<tr th:each="blog : ${blogs}">
    <ul>
        <li><a href="@{'blogs/view' + ${blog.id}}" th:text="${blog.title}"></a></li>
    </ul>
</tr>

<!--<a th:href="@{'/menu/view/' + ${menu.id}}" th:text="${menu.name}"></a>-->

<a href="/blogs/add">Add a blog</a>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>