<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>
<header th:fragment="header">
    <h1>We Can BETE this!</h1>
    <nav>
        <a href="/home">Home</a> |
        <a href="/login">Login</a> |
        <a href="/register">Register</a> |
        <a href="/blogs">Stories</a> |
        <a href="/tracking">Tracking</a>
    </nav>
</header>

<footer th:fragment="footer">
    <p>&copy; 2019 We can BETE this! app | Maria Papageorgiou</p>
</footer>
</body>
</html>