<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Baskervville|Indie+Flower|Kalam|Shadows+Into+Light&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>
<header th:fragment="header">
    <h1>We Can <span style="color:red;">BETE</span> this!</h1>
    <ul class="navigation">
        <li><a class="navigation" href="/home">Home</a> |</li>
        <li><a class="navigation" href="/blogs">Stories</a> |</li>
        <li class="dropdown">
            <a href="/tracking" class="dropbtn">Tracking</a>
            <div class="dropdown-content">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <a href="/tracking/add">Glucose Entry</a>
            </div>
        </li>
    </ul>
</header>

<footer th:fragment="footer">
    <p>&copy; 2019 We can BETE this! app | Maria Papageorgiou</p>
</footer>
</body>
</html>