<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>


<h2 class="add-entry">Add your glucose tracking</h2>
<form method="post" th:object="${bloodSugar}">

    <table class="form-group">

        <tr>
            <td><label th:for="date">Date:</label></td>
            <td><input class="form-control" th:field="*{date}" type = "date" required/></td>
        </tr>

        <tr>
            <td><label th:for="time">Time:</label></td>
            <td><input class="form-control" th:field="*{time}" type = "time" required/></td>
        </tr>

        <tr>
            <td><label th:for="title">Meal Choice:</label></td>
            <td>
                <select name="meals" class="enum">
                    <option class="form-control" th:each="meal : ${T(com.wecanbetethis.diabetesapp.Models.Meals).values()}"
                        th:value="${meal}"
                        th:text="${meal.name}">
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label th:for="numberentry">Blood Sugar Number:</label></td>
            <td><input class="form-control" th:field="*{numberEntry}" required/></td>
        </tr>

        <tr>
            <td><input class="sub-btn" type="submit" value="Track Now"></td>
        </tr>

    </table>

</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>