<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<form method="post" th:object="${bloodSugar}">
    <div class="form-group">
        <label th:for="title">Meal Choice:</label>
        <select name="meals" class="enum">
            <option th:each="meal : ${T(com.wecanbetethis.diabetesapp.Models.Meals).values()}"
                    th:value="${meal}"
                    th:text="${meal.name}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="numberentry">Blood Sugar Number:</label>
        <input class="form-control" th:field="*{numberEntry}"/>
        <span th:errors="*{numberEntry}" class="error"></span>
    </div>

    <div>
        <input type="submit" >
    </div>

</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>