<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--    <title>Login Information</title>-->
</head>

<body>

<header th:replace="fragments :: header"></header>

<h2>Login Information</h2>

<form method="post" th:object="${user}">
    <table class="form-group">
        <tr>
            <td><label th:for="username">username</label></td>
            <td>
                <input class="form-control" type="text" placeholder="Enter Username" name="username" required/>
<!--                <span th:errors="*{username}" class="error"></span>-->
            </td>
        </tr>
        <tr>
            <td><label th:for="password">password</label></td>
            <td>
                <input class="form-control" type="password" placeholder="Enter Password" name="password" required/>
<!--                <span th:errors="*{password}" class="error"></span>-->
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>

</form>
<br>
<label form="text">Don't have an account? You can register <a href="/register">here.</a></label>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>