<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--    <title>Login Information</title>-->
</head>

<body>

<header th:replace="fragments :: header"></header>

<h2>Login Information</h2>

<form method="post" th:object="${user}">
    <table class="form-group">
        <tr>
            <td><label th:for="*{username}">username</label></td>
            <td>
                <input class="form-control" th:field="*{username}"/>
                <span th:errors="*{username}" class="error"></span>
            </td>
        </tr>
        <tr>
            <td><label th:for="*{password}">password</label></td>
            <td>
                <input class="form-control" th:field="*{password}" type="password">
                <span th:errors="*{password}" class="error"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>

</form>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>