<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h2 class="stats-title">Statistics of Entries</h2>

<p th:unless="${bloodsugar} and ${bloodsugar.size()}">No Entries yet!</p>

    <ul class="tracking-list">
        <li th:each="bloodsugar : ${bloodsugar}">
            <a th:href="'/tracking/view/' + ${bloodsugar.id}"
               th:text="${bloodsugar.date} + ${bloodsugar.time} + ${bloodsugar.meals.name} + ${bloodsugar.numberEntry}"></a> <!-- ${bloodsugar.date} + ':' + -->
        </li>
    </ul>

<label class="account-link"><a href="/tracking/add">Add an Entry</a></label>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>