<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h2 class="track" th:for="date">Date: <span th:text="${bloodSugar.date}"></span></h2>
<br>

<p style="font-size:50px;" th:for="title">Title:<span th:text="${bloodSugar.meals.name}"></span></p>
<p style="font-size:50px;" th:for="body">Value: <span th:text="${bloodSugar.numberEntry}"></span></p>

<label class="account-link"><a href="/tracking/add">Add an Entry</a></label>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>