<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h3 th:for="title">Title:</h3>
<h3 th:text="${bloodSugar.meals.name}"></h3>
<br>

<label th:for="body">Value:</label>
<p th:text="${bloodSugar.numberEntry}"></p>

<label th:for="date">Date:</label>
<p th:text="${bloodSugar.date}"></p>

<label th:for="time">Time:</label>
<p th:text="${bloodSugar.time}"></p>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>